[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mubarak Abiodun Adisa
	email = 99817240+AdMub@users.noreply.github.com
